In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load
 
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/startup_funding.csv

In [3]:
df = pd.read_csv('/kaggle/input/startup_funding.csv')
df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [4]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3020 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

In [5]:
df['Remarks'].unique()
#dropping remarks column as 90% of the data is missing
df.drop(columns=['Remarks'],inplace=True)

In [6]:
#making Sr No as the index.

df.set_index(['Sr No'],inplace=True)

In [7]:
# Renaming cols
df.rename(columns={
    'Date dd/mm/yyyy' : 'Date',
    'Startup Name' : 'Startup',
    'Industry Vertical' : 'Vertical',
    'City  Location' : 'City',
    'InvestmentnType' : 'Investment Type'
}, inplace=True)

In [8]:
# changing Date dd/mm/yyyy to datatime datatype. 

# step 1 : checking if all the values in Date col follow the format - dd/mm/yyyy
df[~df['Date'].str.contains('../../....', regex=True)]

,Date,Startup,Vertical,SubVertical,City,Investors Name,Investment Type,Amount in USD
Sr No,,,,,,,,
193,05/072018,Loan Tap,Consumer Internet,Online Lending Platform For Salaried Professio...,Mumbai,"Shunwei Capital, Tuscan Ventures, Ashish Goenk...",Private Equity,"62,50,000"
2572,01/07/015,HandyHome,Hyperlocal Electronics repair Service,NaN,Mumbai,"Bessemer Ventures, Kae Capital",Seed Funding,"6,30,000"
2607,\\xc2\\xa010/7/2015,\\xc2\\xa0Infinity Assurance,\\xc2\\xa0Warranty Programs Service Administra...,NaN,\\xc2\\xa0New Delhi,\\xc2\\xa0Indian Angel Network,Seed Funding,"\\xc2\\xa0600,000"
2776,12/05.2015,Mobiefit,Mobile Fitness App,NaN,Goa,Prototyze,Seed Funding,NaN
2777,12/05.2015,Plancess,Online Education Platform,NaN,Mumbai,"Rajendra Gogri,\\xc2\\xa0 Chandrakant Gogri",Seed Funding,"20,00,000"
2832,13/04.2015,The Porter,Logistics Tech,NaN,Mumbai,Kae Capital,Seed Funding,"5,00,000"
3012,15/01.2015,Wishberry,NaN,NaN,NaN,"Rajan Anandan, Shankar Mahadevan, Deep Kalra &...",Seed Funding,"6,50,000"

In [9]:
df[df['Date'].str.contains('../..//...')]

,Date,Startup,Vertical,SubVertical,City,Investors Name,Investment Type,Amount in USD
Sr No,,,,,,,,
3030,22/01//2015,Corporate360,NaN,NaN,NaN,Group of Angel Investors,Seed Funding,"2,00,000"

In [10]:
#step 2 : correcting the entries with wrong formats. Total there were 7 mismatch
df['Date'].replace({
    '05/072018' : '05/07/2018',
    '01/07/015' : '01/07/2015',
    '12/05.2015' : '12/05/2015',
    '13/04.2015' : '13/04/2015',
    '15/01.2015' : '15/01/2015',
    '\\\\xc2\\\\xa010/7/2015' : '10/07/2015',
    '22/01//2015' : '22/01/2015'
},inplace=True)

In [11]:
# step 3 : converting the date col to type datetime
df['Date'] = pd.to_datetime(df['Date'], format="%d/%m/%Y")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3044 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             3044 non-null   datetime64[ns]
 1   Startup          3044 non-null   object
 2   Vertical         2873 non-null   object
 3   SubVertical      2108 non-null   object
 4   City             2864 non-null   object
 5   Investors Name   3020 non-null   object
 6   Investment Type  3040 non-null   object
 7   Amount in USD    2084 non-null   object
dtypes: datetime64[ns](1), object(7)
memory usage: 214.0+ KB

In [13]:
print('\\\\xc2\\\\xa0')
# \xc2\xa0 means 0xC2 0xA0 is so-called. Non-breaking space. It is a kind of invisible control character in UTF-8 encodings.

\\xc2\\xa0

In [14]:
import unicodedata

unicodedata.normalize("NFKD", '\xc2\xa0News in shorts')
#pd.DataFrame(df['Startup'].apply(lambda x : unicodedata.normalize("NFKD", x))).iloc[2600:2610]

# As it is not non-breaking space we will be manually replacing the values

'Â News in shorts'

In [15]:
df[df['Startup'].str.contains('\\\\xc2', na=False)]

,Date,Startup,Vertical,SubVertical,City,Investors Name,Investment Type,Amount in USD
Sr No,,,,,,,,
1395,2016-09-23,\\xc2\\xa0CloudCherry,Technology,CRM SAAS Platform,Chennai,"Vertex Ventures, Cisco Ventures, IDG Ventures",Private Equity,"60,00,000"
2505,2015-08-10,NearBuy (previously\\xc2\\xa0 groupon India),Hyper-Local Ecommerce,NaN,New Delhi,Sequoia Capital,Private Equity,"1,60,00,000"
2603,2015-07-09,\\xc2\\xa0News in shorts,\\xc2\\xa0News Aggregator mobile app,NaN,\\xc2\\xa0Noida,\\xc2\\xa0Tiger Global,Private Equity,"\\xc2\\xa020,000,000"
2604,2015-07-09,\\xc2\\xa0Bluestone,\\xc2\\xa0Online Jewellery Store,NaN,\\xc2\\xa0Bangalore,"\\xc2\\xa0IvyCap Ventures, Accel Partners, Dra...",Private Equity,"\\xc2\\xa016,200,000"
2605,2015-07-09,\\xc2\\xa0Shopsity,\\xc2\\xa0Fashion Info Aggregator App,NaN,\\xc2\\xa0Gurgaon,"\\xc2\\xa0 Sandeep Aggarwal, Teruhide Sato",Seed Funding,\\xc2\\xa0N/A
2606,2015-07-09,\\xc2\\xa0Notesgen,\\xc2\\xa0Online Study Notes Marketplace,NaN,\\xc2\\xa0New Delhi,"\\xc2\\xa0Rajeev Saraf, Arvind Jha, R. Satya N...",Seed Funding,\\xc2\\xa0N/A
2607,2015-07-10,\\xc2\\xa0Infinity Assurance,\\xc2\\xa0Warranty Programs Service Administra...,NaN,\\xc2\\xa0New Delhi,\\xc2\\xa0Indian Angel Network,Seed Funding,"\\xc2\\xa0600,000"
2608,2015-07-10,\\xc2\\xa0Footprints Education,\\xc2\\xa0Pre-School Chain,NaN,\\xc2\\xa0Gurgaon,"\\xc2\\xa0LetsVenture, Kumar Bansal, Kshitij Jain",Seed Funding,"\\xc2\\xa0685,000"
2609,2015-07-10,\\xc2\\xa0Loylty Rewards,\\xc2\\xa0Premium Loyalty Rewards Point Manage...,NaN,\\xc2\\xa0Mumbai,\\xc2\\xa0IndianIdeas.com,Private Equity,"\\xc2\\xa019,350,000"
2610,2015-07-13,\\xc2\\xa0Ameyo,\\xc2\\xa0Contact Center Software Platform,NaN,\\xc2\\xa0Gurgaon,\\xc2\\xa0Forum Synergies PE Fund,Private Equity,"\\xc2\\xa05,000,000"
2611,2015-07-13,\\xc2\\xa0Mamagoto,\\xc2\\xa0Casual Dining restaurant Chain,NaN,\\xc2\\xa0New Delhi,\\xc2\\xa0Goldman Sachs,Private Equity,"\\xc2\\xa010,000,000"
2612,2015-07-13,\\xc2\\xa0Satvacart,\\xc2\\xa0Online Grocery Delivery,NaN,\\xc2\\xa0Gurgaon,\\xc2\\xa0Palaash Ventures,Seed Funding,\\xc2\\xa0N/A
2795,2015-05-22,\\xc2\\xa0Nudgespot,Customer Engagement Platform,NaN,Bangalore,"Kae Capital, Anoop Goyal, Mike Shah, VA Sastry",Seed Funding,"6,25,000"

In [16]:
# replacing control characters in Startup col
df['Startup'].replace(
    {
        '\\\\xc2\\\\xa0Infinity Assurance': 'Infinity Assurance',
        '\\\\xc2\\\\xa0CloudCherry' : 'CloudCherry',
        'NearBuy (previously\\\\xc2\\\\xa0 groupon India)' : 'NearBuy (previously groupon India)',
        '\\\\xc2\\\\xa0News in shorts' : 'News in shorts',
        '\\\\xc2\\\\xa0Bluestone' : 'Bluestone',
        '\\\\xc2\\\\xa0Shopsity' : 'Shopsity',
        '\\\\xc2\\\\xa0Notesgen' : 'Notesgen',
        '\\\\xc2\\\\xa0Infinity Assurance' : 'Infinity Assurance',
        '\\\\xc2\\\\xa0Footprints Education' : 'Footprints Education',
        '\\\\xc2\\\\xa0Loylty Rewards' : 'Loylty Rewards',
        '\\\\xc2\\\\xa0Ameyo' : 'Ameyo',
        '\\\\xc2\\\\xa0Mamagoto' : 'Mamagoto',
        '\\\\xc2\\\\xa0Satvacart' : 'Satvacart',
        '\\\\xc2\\\\xa0Nudgespot' : 'Nudgespot',
    },inplace=True)

In [17]:
df[df['Startup'].str.contains('\\\\xc2')]

Empty DataFrame
Columns: [Date, Startup, Vertical, SubVertical, City, Investors Name, Investment Type, Amount in USD]
Index: []

In [18]:
df[df['Vertical'].str.contains('\\\\xc2', na=False)]

,Date,Startup,Vertical,SubVertical,City,Investors Name,Investment Type,Amount in USD
Sr No,,,,,,,,
2176,2015-12-21,Peppertap,Hyperlocal\\xc2\\xa0 Grocery Delivery Service,NaN,Gurgaon,Innoven Capital,Private Equity,"40,00,000"
2239,2015-11-17,CraftsVilla,Women Ethnic Wear\\xc2\\xa0 Online Marketplace,NaN,Mumbai,"Sequoia India, Lightspeed Venture Partners, Ne...",Private Equity,"3,40,00,000"
2365,2015-10-27,Happitoo,Location based Nightlife recommendation\\xc2\\...,NaN,Mumbai,Unnamed investor,Seed Funding,"77,000"
2386,2015-09-01,Luxuryhues,Luxury goods\\xc2\\xa0 Shopping Platform,NaN,Gurgaon,Reliance Capital,Private Equity,"9,00,000"
2489,2015-08-06,Appvigil,App security\\xc2\\xa0 testing platform,NaN,Mumbai,"Ravi Gururaj, Gaurav Sharma, Viswanath Ramacha...",Seed Funding,"5,00,000"
2603,2015-07-09,News in shorts,\\xc2\\xa0News Aggregator mobile app,NaN,\\xc2\\xa0Noida,\\xc2\\xa0Tiger Global,Private Equity,"\\xc2\\xa020,000,000"
2604,2015-07-09,Bluestone,\\xc2\\xa0Online Jewellery Store,NaN,\\xc2\\xa0Bangalore,"\\xc2\\xa0IvyCap Ventures, Accel Partners, Dra...",Private Equity,"\\xc2\\xa016,200,000"
2605,2015-07-09,Shopsity,\\xc2\\xa0Fashion Info Aggregator App,NaN,\\xc2\\xa0Gurgaon,"\\xc2\\xa0 Sandeep Aggarwal, Teruhide Sato",Seed Funding,\\xc2\\xa0N/A
2606,2015-07-09,Notesgen,\\xc2\\xa0Online Study Notes Marketplace,NaN,\\xc2\\xa0New Delhi,"\\xc2\\xa0Rajeev Saraf, Arvind Jha, R. Satya N...",Seed Funding,\\xc2\\xa0N/A
2607,2015-07-10,Infinity Assurance,\\xc2\\xa0Warranty Programs Service Administra...,NaN,\\xc2\\xa0New Delhi,\\xc2\\xa0Indian Angel Network,Seed Funding,"\\xc2\\xa0600,000"
2608,2015-07-10,Footprints Education,\\xc2\\xa0Pre-School Chain,NaN,\\xc2\\xa0Gurgaon,"\\xc2\\xa0LetsVenture, Kumar Bansal, Kshitij Jain",Seed Funding,"\\xc2\\xa0685,000"
2609,2015-07-10,Loylty Rewards,\\xc2\\xa0Premium Loyalty Rewards Point Manage...,NaN,\\xc2\\xa0Mumbai,\\xc2\\xa0IndianIdeas.com,Private Equity,"\\xc2\\xa019,350,000"
2610,2015-07-13,Ameyo,\\xc2\\xa0Contact Center Software Platform,NaN,\\xc2\\xa0Gurgaon,\\xc2\\xa0Forum Synergies PE Fund,Private Equity,"\\xc2\\xa05,000,000"
2611,2015-07-13,Mamagoto,\\xc2\\xa0Casual Dining restaurant Chain,NaN,\\xc2\\xa0New Delhi,\\xc2\\xa0Goldman Sachs,Private Equity,"\\xc2\\xa010,000,000"
2612,2015-07-13,Satvacart,\\xc2\\xa0Online Grocery Delivery,NaN,\\xc2\\xa0Gurgaon,\\xc2\\xa0Palaash Ventures,Seed Funding,\\xc2\\xa0N/A
2827,2015-04-10,Whatfix,Interactive\\xc2\\xa0 How-To Guides,NaN,Bangalore,"Helion Venture Partner, Powerhouse Ventures, G...",Seed Funding,"9,00,000"

In [19]:
df['Vertical'].replace(
        {
            'Hyperlocal\\\\xc2\\\\xa0 Grocery Delivery Service' : 'Hyperlocal Grocery Delivery Service',
            'Women Ethnic Wear\\\\xc2\\\\xa0 Online Marketplace' : 'Women Ethnic Wear Online Marketplace',
            'Location based Nightlife recommendation\\\\xc2\\\\xa0 Platform' : 'Location based Nightlife recommendation Platform',
            'Luxury goods\\\\xc2\\\\xa0 Shopping Platform' : 'Luxury goods Shopping Platform',
            'App security\\\\xc2\\\\xa0 testing platform' : 'App security testing platform',
            '\\\\xc2\\\\xa0News Aggregator mobile app' : 'News Aggregator mobile app',
            '\\\\xc2\\\\xa0Online Jewellery Store' : 'Online Jewellery Store',
            '\\\\xc2\\\\xa0Fashion Info Aggregator App' : 'Fashion Info Aggregator App',
            '\\\\xc2\\\\xa0Online Study Notes Marketplace' : 'Online Study Notes Marketplace',
            '\\\\xc2\\\\xa0Warranty Programs Service Administration' : 'Warranty Programs Service Administration',
            '\\\\xc2\\\\xa0Pre-School Chain' : 'Pre-School Chain',
            '\\\\xc2\\\\xa0Premium Loyalty Rewards Point Management' : 'Premium Loyalty Rewards Point Management',
            '\\\\xc2\\\\xa0Contact Center Software Platform' : 'Contact Center Software Platform',
            '\\\\xc2\\\\xa0Casual Dining restaurant Chain' : 'Casual Dining restaurant Chain',
            '\\\\xc2\\\\xa0Online Grocery Delivery' : 'Online Grocery Delivery',
            'Interactive\\\\xc2\\\\xa0 How-To Guides' : 'Interactive How-To Guides',
        }, inplace=True
)

In [20]:
df[df['Vertical'].str.contains('\\\\xc2', na=False)]

Empty DataFrame
Columns: [Date, Startup, Vertical, SubVertical, City, Investors Name, Investment Type, Amount in USD]
Index: []

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3044 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             3044 non-null   datetime64[ns]
 1   Startup          3044 non-null   object
 2   Vertical         2873 non-null   object
 3   SubVertical      2108 non-null   object
 4   City             2864 non-null   object
 5   Investors Name   3020 non-null   object
 6   Investment Type  3040 non-null   object
 7   Amount in USD    2084 non-null   object
dtypes: datetime64[ns](1), object(7)
memory usage: 214.0+ KB

In [24]:
# Amount col we remove the comma so as to convert the amount to float datatype
df['Amount in USD'] = df['Amount in USD'].str.replace(',','')

In [25]:
df.tail()

,Date,Startup,Vertical,SubVertical,City,Investors Name,Investment Type,Amount in USD
Sr No,,,,,,,,
3040,2015-01-29,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,4500000
3041,2015-01-29,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,825000
3042,2015-01-30,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,1500000
3043,2015-01-30,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN
3044,2015-01-31,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,140000

In [29]:
df['Amount in USD'].loc[df['Amount in USD'].isna()]

Sr No
145     NaN
156     NaN
158     NaN
166     NaN
190     NaN
       ...
3028    NaN
3031    NaN
3032    NaN
3036    NaN
3043    NaN
Name: Amount in USD, Length: 960, dtype: object

In [37]:
df['Amount in USD'].replace(np.NaN,'0',inplace=True)

In [38]:
df['Amount in USD'].loc[df['Amount in USD'].str.isalpha()]

Sr No
21     undisclosed
35         unknown
59     Undisclosed
90     undisclosed
92     undisclosed
113    Undisclosed
140    Undisclosed
Name: Amount in USD, dtype: object

In [39]:
df['Amount in USD'].replace('undisclosed','0',inplace=True)
df['Amount in USD'].replace('Undisclosed','0',inplace=True)
df['Amount in USD'].replace('unknown','0',inplace=True)

In [51]:
#df['Amount in USD'].str.contains('[0-9]*\+*', regex=True)

import string

unwanted = string.ascii_letters + string.punctuation + string.whitespace
print(unwanted)

# This helped me extract '10' from '10+ years'.
df['Amount in USD'] = df['Amount in USD'].str.strip(unwanted)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [73]:
# Reference : https://stackoverflow.com/questions/26068832/how-to-remove-this-xa0-from-a-string-in-python

ser = pd.Series(['2\\\\xa020000000'])
ser.str.replace(u'\\\\xa0','')

0    220000000
dtype: object

In [75]:
df[df['Amount in USD'].str.contains('\\\\\\\\xa0', na=False)]

Empty DataFrame
Columns: [Date, Startup, Vertical, SubVertical, City, Investors Name, Investment Type, Amount in USD]
Index: []

In [74]:
df['Amount in USD'] = df['Amount in USD'].str.replace(u'\\\\xa0', '')

In [81]:
df['Amount in USD'] = df['Amount in USD'].astype('int')

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3044 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             3044 non-null   datetime64[ns]
 1   Startup          3044 non-null   object
 2   Vertical         2873 non-null   object
 3   SubVertical      2108 non-null   object
 4   City             2864 non-null   object
 5   Investors Name   3020 non-null   object
 6   Investment Type  3040 non-null   object
 7   Amount in USD    3044 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 214.0+ KB

In [91]:
# checking for na values
df.dropna(subset=['Date','Startup','Vertical','City','Investors Name','Investment Type','Amount in USD'])

,Date,Startup,Vertical,SubVertical,City,Investors Name,Investment Type,Amount in USD
Sr No,,,,,,,,
1,2020-01-09,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,200000000
2,2020-01-13,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8048394
3,2020-01-09,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,18358860
4,2020-01-02,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,3000000
5,2020-01-02,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,1800000
...,...,...,...,...,...,...,...,...
2869,2015-04-29,Tracxn,Startup Analytics platform,NaN,Bangalore,SAIF Partners,Private Equity,3500000
2870,2015-04-29,Dazo,Mobile Food Ordering app,NaN,Bangalore,"Sumit Jain, Aprameya Radhakrishna, Alok Goel, ...",Seed Funding,0
2871,2015-04-29,Tradelab,Financial Markets Software,NaN,Bangalore,Rainmatter,Seed Funding,400000
2872,2015-04-29,PiQube,Hiring Analytics platform,NaN,Chennai,The HR Fund,Seed Funding,500000
2873,2015-04-29,Travel Triangle,Online Travel Marketplace,NaN,Noida,"Bessemer Venture Partners, SAIF Partners",Private Equity,8000000

In [105]:
# Investor col : we will split it based on comma so that we can analyze each investors separetely
# we will simply split and get the list of investors
# we will convert it to set, so as to not have any duplicates in the list of investors

df['Investors Name'].dropna().str.split(',').sum() # also strip the extract spaces or split using [',' , ', ']

#sorted(df['Investors Name'].str.split(','))

['Tiger Global Management',
 'Susquehanna Growth Equity',
 'Sequoia Capital India',
 'Vinod Khatumal',
 'Sprout Venture Partners',
 'Chiratae Ventures',
 'Ant Financial',
 'Sathguru Catalyzer Advisors',
 'Ping An Global Voyager Fund',
 'Mumbai Angels',
 ' Ravikanth Reddy',
 'SAIF Partners',
 ' Spring Canter Investment Ltd.',
 'Paytm',
 ' NPTK',
 ' Sabre Partners and Neoplux',
 'Vertex Growth Fund',
 'Ruizheng Investment',
 'Manipal Education and Medical Group (MEMG)',
 'SoftBank Vision Fund',
 'Sequoia',
 ' CapitalG',
 ' Accel',
 'Sauce.vc',
 ' Rainforest Ventures',
 'Prime Venture Partners',
 ' LetsVenture',
 ' PS1 Venture and GlobalLogic co-founder Rajul Garg',
 'RB Investments',
 'DG Daiwa Ventures',
 ' DG Incubation',
 'Trifecta Capital Advisors',
 'FinTech',
 'Dream Incubator',
 'Altimeter Capital',
 ' Sutter Hill Ventures',
 'Startup Buddy',
 'Amour Infrastructure',
 'Ackermans & van Haaren',
 ' HealthQuad',
 ' Rebright Partners',
 ' Toppan Printing',
 'Matrix Partners',
 ' Stellaris Venture Partners',
 ' Kalaari Capital',
 'IAN Fund and DSG Consumer Partners',
 'Vijay Shekhar Sharma',
 'Lightbox',
 'Altimeter Capital',
 ' DST Global',
 'Ayushmann Khurana',
 'Matrix Partners India',
 ' Sequoia India',
 'SAIF Partners',
 'TIW Private Equity',
 'Exfinity Venture Partners',
 'Breakthrough Energy Ventures',
 'Endiya Partners',
 'A91 Partners',
 'Bennett Coleman and Company Ltd (BCCL)',
 'India Quotient',
 ' Axilor Ventures',
 'SC GG India Mobility Holdings LLC',
 'Sequoia India',
 'Azim Premji',
 ' Binny Bansal',
 'Pine Labs Pte Ltd',
 'Naspers',
 'MS Dhoni',
 'March Capital Partners',
 'XL Innovate',
 'Rashmi Daga (founder',
 ' FreshMenu)',
 ' Raveen Sastry (co-founder',
 ' Myntra) and Mitesh Shah (finance chief',
 ' BookMyShow)',
 'RPS Ventures',
 'Tiger Global Management',
 'One97 Communications Ltd.',
 'Growth DNA',
 'Vir Sanghvi',
 'Softbank Vision Fund',
 'Westbridge Capital',
 'Lok Capital',
 ' IIFL Wealth',
 'WaterBridge Ventures',
 'Kapil Dev',
 'DIG Investment Ab',
 ' Deshe Holdings',
 ' Samih Toukan and Hussam Khoury',
 'March Capital Partners',
 'Artha Venture',
 'Qatar Investment Authority',
 'Composite Capital Management',
 ' Sequoia Capital India',
 ' Tiger Global Management',
 'Undisclosed',
 'Ventureast',
 'Blume Ventures',
 'Binny Bansal',
 'Multiple Angel Investors',
 'General Atlantic',
 'Anicut Capital',
 'Goldman Sachs',
 ' Accel Partners and Qualcomm',
 'Matrix Partners',
 'Insight Partners',
 'Triton Investment Advisors',
 ' Pidilite Industries director Ajay Parekh',
 'Blume Ventures and RTP Global',
 'Shell Foundation',
 ' DILA CAPITAL',
 ' Engie RDE Fund',
 ' EcoEnterprise Fund',
 ' EDFIMC (ElectriFI)',
 ' Endeavor Catalyst Fund',
 ' CoCapital',
 ' Triodos',
 ' Alpha Mundi',
 ' and Lendahand',
 'IAN Fund',
 'Qiming Venture Partners',
 'Nexus Venture Partners',
 'Tiger Global Management',
 'WestBridge Capital',
 'Alteria Capital',
 'Mumbai Angels',
 'Tata Sons',
 'C4D Partners',
 'Indian Angel Network and other angel investors',
 ' Innov8 founder Ritesh Malik',
 ' Josh Talks founders Supriya Paul and Shobha Banga',
 ' and former Hero Corporate president Rohit Chanana',
 'Goldman Sachs Investment Partners and Silicon Valley-based Accel',
 ' Wellington',
 ' Sequoia Capital',
 ' B Capital',
 ' LightStreet',
 ' Sands Capital and International Finance Corporation',
 '',
 'Tiger Global Management',
 'Sachin Bansal',
 'Equanimity Ventures',
 'Korea Investment Partners',
 ' Vertex Ventures',
 'Sixth Sense Ventures',
 'Eight Roads',
 'Prasid Uno Family Trust',
 'Unilever',
 ' Beehive Capital Advisor',
 ' ABCOM Investments',
 ' Parekh Marine Transport',
 '',
 'Orchid India',
 ' Hornbill Orchid India Fund',
 ' Chiratae Ventures (formerly IDG Ventures)',
 ' 3one4 Capital',
 ' Lasmer NV',
 'Unnamed angel investors',
 'Lightspeed India Partners',
 'Milestone',
 'Supera Pte Ltd',
 'Kalyan Krishnamurthy',
 'Sequoia India',
 ' Tiger Global Management',
 ' Accel Partners',
 'Sixth Sense Ventures',
 'BAC Acquisitions',
 ' Unifi AIF',
 ' BRD Securities',
 ' Northern R Capital',
 'New Atlantic Ventures',
 '021 Capita',
 ' Binny Bansal',
 'India Quotient and LetsVenture\\\\xe2\\\\x80\\\\x99s Angel Fund',
 'Sequoia Capital and Temasek Holdings',
 ' EDBI',
 ' Burda Principal Investments',
 ' and Sofina',
 'LetsVenture',
 ' PitchRight Venture',
 ' 91SpringBoard',
 ' AL Nour International Holdings and Mark V Investments',
 'DiDi Chuxing',
 'Sequoia India',
 ' Hillhouse Capital',
 ' Alphabet\\\\xe2\\\\x80\\\\x99s growth investment arm Capital G and Axis Bank',
 'Iron Pillar',
 ' Perceptive Advisors',
 ' Romulus Capital and Kalaari Capital',
 'MASSIF',
 ' a Dutch government fund',
 'Stellaris Venture Partners',
 'Steadview Capital and Vy Capital.',
 'Individual Investors',
 'Individual Investors',
 'Omphalos Ventures India LLP',
 'Info Edge',
 ' AET Fund',
 ' Akatsuki and Incubate Fund from Japan and Better Capital AngelList syndicate.',
 'Venture Highway',
 ' GREE Ventures',
 ' Space Matrix',
 ' Individual Investors',
 'Lead Angels Network',
 'Norwest Venture Partners',
 ' CDC Group',
 ' the UK\\\\xe2\\\\x80\\\\x99s Development Finance Institution and P Surendra Pai',
 'Shunwei Capital',
 ' DST Partners and RPS Ventures',
 'Undisclosed',
 'RB Investments',
 ' Singapore',
 'Tiger Global',
 'Mayfield Fund',
 'Stevens Creek Ventures',
 'Venture Catalysts',
 'SoftBank Vision Fund',
 'Sistema Asia Fund',
 ' VC Samsung NEXT',
 ' Chiratae Ventures',
 ' Inventus Capital',
 ' Blume Ventures and Innoven Capital.',
 'Individual investors',
 'Teachers Insurance and Annuity Association (TIAA)',
 'Individual investors',
 'Stellaris Venture Partners and Kalaari Capital',
 ' Rajan Anandan from Google',
 ' Dilip Khandwelwal from SAP Labs India',
 ' and Amrish Rau from PayU India',
 'Lakestar and Jungle Ventures',
 ' Softbank\\\\xe2\\\\x80\\\\x99s DeepCore.',
 'Paragon Partners',
 ' Individual Investors',
 'Bertelsmann India Investments',
 'Prashant Jaiswal',
 'Cooperative Oikocredit',
 ' Caspian and Hivos-Triodos Fund',
 'Ravi Viswanathan',
 'ZigExN',
 'Credence Family Office',
 'Sequoia Capital India',
 'Fosun International',
 'Sistema Asia Fund',
 ' Sistema JSFC and Tanncam Investment',
 'DST Global and Lightspeed Venture Partners\\\\xe2\\\\x80\\\\x99 global fund.',
 'Falcon Edge',
 'Korea Investment Partners (KIP)',
 ' Samsung and China-based CITIC Capital and others',
 'Lighthouse',
 'KDDI\\\\xc2\\\\xa0',
 'Tencent',
 ' Kalaari Capital and Private equity firm Multiples Alternate Asset Management',
 'Stellaris Ventures & Others',
 'CLP Holdings Group',
 ' Innogy',
 ' \\\\xc3\\\\x98rstead',
 ' and Tenaska',
 'InnoVen Capital',
 'Shunwei Capital',
 'Quotient',
 ' Mayfield & Others',
 'Vertex Ventures Southeast Asia (SEA) and India and Sistema Asia Fund',
 ' Fosun RZ Capital',
 ' Ventureast',
 ' and Endiya Partners.\\\\n\\\\n',
 'Farm To Fork',
 ' Arts Alliance',
 ' The Syndicate Fund',
 ' Sven Hensen',
 ' Zeroth and Artesian Venture Partners',
 'Axilor',
 ' Sprout Venture Partners and others',
 'Xiaomi and Sequoia Capital India',
 'Y Combinator',
 'Fung Strategic Holdings',
 'MakeMyTrip Limited',
 'Vertex Ventures',
 'Sequoia Capital India Advisors',
 ' Accel Partners and G Raghunandan',
 'Flipkart',
 'Nexus Venture Partners',
 ' Prime Venture Partners and Others',
 'AJ Ventures and Jain International Trade Organisation (JITO)',
 'Ventureast',
 ' Orios Venture Partners and the IAN Fund',
 'Nexus Venture Partners',
 ' MGV',
 ' Liquid 2 Ventures',
 ' Hack VC',
 ' Emergent Ventures and Y Combinator',
 'Denlow Investment Trust and Beenext',
 'Alteria Capital',
 'CDC Group plc\\\\xc2\\\\xa0',
 'Hyundai',
 ' Edelweiss and Beenext',
 ' Dream Incubator',
 ' Sunjay Kapoor and Telama Investment',
 'Xiaomi',
 'PayU',
 ' Ribbit Capital and Omidyar Network',
 'Saama Capital',
 ' SRI Capital',
 ' Beenext',
 ' and Pravega Ventures',
 'Nexus Venture Partners',
 ' Omidyar Network and Shunwei Capital',
 'Accel (formerly known as Accel Partners)',
 'Y Combinator',
 'Ajay Relan and Vinay Mittal',
 'MDI Ventures & Telkom Indonesia',
 'Shunwei Capital',
 ' Tuscan Ventures',
 ' Ashish Goenka',
 ' VC firms India Quotient and Kae Capital',
 'Info Edge (India) Ltd and Temasek',
 'Info Edge (India) Ltd',
 'Insignia Ventures Partners',
 ' Lightbridge Partners & Kairos',
 'Avtar Monga',
 ' chief operating office at IDFC Bank',
 ' Aditya Malik & Others',
 'Venture Catalysts',
 'ResponsAbility',
 'Stellaris Venture Partners',
 ' Vy Capital',
 ' Raghunandan G',
 ' and Ramakant Sharma',
 'Base of Pyramid Asia (BOPA) Pte Ltd',
 'Rishi Vasudev',
 ' Excelsior Investments',
 ' Ritesh Vohra',
 ' Praveer Kumar',
 ' Prashant Gupta and Others',
 'Brand Capital and Others',
 'Siddharth Agarwal',
 ' Mahavir Sharma',
 ' Amit Singal',
 ' 100 Co-founders Lab and others.',
 'Creation Investments',
 ' Falcon Edge',
 ' Matrix Partners India and Zodius Capital',
 'Kingsway FCI Fund',
 ' KCK Global & Others',
 'Omidyar Network & Others',
 'TPG Growth',
 ' The Rise Fund & Others',
 'PayU & Others',
 'AngelList',
 ' Rahul Khanna',
 ' Rajeev Arora and Ram Ramsundar.',
 'Metaform Ventures',
 ' Hemant Luthra',
 ' Micro venture capital firm GEMS Partners and Others',
 'Gray Matters',
 'Fairfax',
 'Allcargo Logistics',
 ' Navneet Education and Mahavir Agency',
 'BeeNext ',
 ' WEH Ventures and Sprout Ventures',
 'Ventureast and Exfinity',
 'Bharat Innovation',
 ' IDFC-Parampara Capital',
 ' Arthavida Ventures',
 ' Jitendra Gupta & Others',
 'MakeMyTrip',
 'Lindwall Family Investments LLC (LFI)',
 'Amazon Alexa Fund & Dentsu Ventures',
 'IDG Ventures',
 ' Accel Partners',
 ' Kalaari Capital and Others',
 'TPG',
 ' Norwest Venture Partners',
 ' Sequoia Capital & Matrix Partners',
 'Kantilal Patel',
 'Sabre Partners',
 ' Puneet Dalmia & Others',
 'Aspire Logistics LLC',
 'Bhairavi Jani',
 ' Alok Divatia',
 ' Namrata Kaul',
 ' Sohail Hashemi',
 ' Aijaz Saleem',
 'Anil Advani',
 ' Pramod Jain',
 ' Amrendra Reddy and Manish Satnaliwala.',
 'NB Ventures and Others',
 'Oman India Joint Investment Fund (OIJIF)',
 'Sequoia Capital India',
 ' SAIF Partners',
 ' Y Combinator and Venture Highway',
 'CapitalG',
 ' SAIF Partners and LGT Impact Ventures',
 'Mumbai Angels Network',
 'Alpha Capital',
 'Paragon Partners',
 'Saama Capital and Sequoia Capital',
 'Spiral Ventures',
 ' Subho Ray and Samir Kumar',
 'LetsVenture',
 ' Rajan Anandan',
 ' Basab Pradhan',
 ' Vivek Khare and Bijoy George',
 'Rannvijay Singha',
 'Brand Capital',
 'Helix Investments',
 'Lighthouse Funds & Thuasne Participations',
 'Hyperplane Venture Capital and several angel investors',
 'Menterra Venture & Artha Initiatives',
 'Shorooq Investments',
 ' LetsVenture & Others',
 'Accel Partners',
 ' Sequoia India',
 ' Y Combinator and others.',
 'Sequoia Capital',
 ' Accel Partners & Raghunandan Gangappa',
 'SoftBank Vision Fund & Info Edge (India) Ltd',
 'Diageo India',
 'Equanimity Venture Fund',
 'One 97 Communications',
 'Accel Partners',
 ' IDG Venture',
 ' Endiya Partners',
 ' pi Ventures',
 ' VH Capital',
 ' Axilor Ventures and Binny Bansal',
 'Undisclosed Existing Investors As Well As The Tamarind Family Trust',
 'Speciale Invest & Others',
 'Leo Capital',
 'Shiva Gunapu & Others',
 'Unknown High Net-Worth Individuals',
 'B Capital',
 ' International Finance Corporation (IFC)',
 ' Accel Partners and IDG Ventures',
 'IL&FS Private Equity',
 ' Kae Capital & Others',
 'Unitus Ventures',
 ' Behram Vakil and Jerxis Vandrevala',
 'Rairah Corporation',
 'Sunil Munjal',
 ' Harsh Mariwala',
 ' Dalip Pathak and Others',
 'Prime Venture Partners',
 ' Stellaris Venture Partners and Mayur Abhaya Srisrimal',
 'Blume ventures',
 'Kalaari Capital',
 ' Unilever Ventures and Blume Ventures',
 'Credika and unnamed angel investors',
 'LetsVenture',
 'RS Shanbag',
 'Insistor',
 ' Oikocredit',
 'Ashish Kacholi',
 ' S Chand Group',
 'Atul Gupta and Saurabh Rastogi',
 'Amazon',
 ' Ashish Dhawan',
 ' Catamaran Ventures',
 ' NR Narayana Murthy.',
 'Prashant Mehta',
 ' Mitali Pawar',
 ' Nikhil G and Bhavesh P',
 ' R Ranganathan',
 ' ONCOTRUST and Medintel Services Pvt. Ltd',
 'Kalaari Capital',
 ' Omidyar Network and Accion Venture Labs',
 'Amazon Inc. and Mastercard',
 'Treebo',
 'IndusAge Partners',
 ' Bill & Melinda Gates Foundation',
 ' Qualcomm Venture',
 ' ABB Technology Ventures',
 ' Omnivore',
 ' Blume Ventures',
 ' Venture Highway and BEENEXT',
 'Accion Venture Lab',
 ' YourNest Venture Capital And Other Angel Investors',
 'Exfinity Venture',
 ' Saha fund Partners',
 ' Arihant Patni of Patni Family Office',
 ' Anjali Bansal',
 ' Shardul Amarchand Mangaldas',
 ' Satish Khanna and Taparia family office.',
 'Subhkam Ventures and Mohit Khadaria',
 'Vishal Bali',
 ' Yogesh Misra',
 ' Thomas Assessments and others',
 'ChrysCapital',
 ' Existing investors',
 ' Elevar Equity',
 ' LGT Impact',
 ' Omidyar Network and Kaizen Private Equity also participated in the round',
 'Maheshwar Peri',
 ' founder and chairman of career information portal Careers360',
 ' and Jamshed Jeejeebhoy',
 ' director at Byramjee Jeejeebhoy Pvt. Ltd were among the angels',
 'Accel Partners',
 ' Tiger Global And Others',
 'Omidyar Network. Blume Ventures and Professor Shlomo Ben-Haim',
 'Fireside Ventures',
 'Matrix Partner',
 ' Amrish Rau',
 ' Investopad',
 ' Digital Currency Group',
 ' Hinduja Group',
 ' Lightspeed India',
 ' Eight Innovate',
 ' Amit Ranjan',
 ' Prashant Malik and others',
 'Kae Capital Management',
 'Fundamentum',
 ' SAIF Partners',
 ' Bessemer Venture Partners',
 ' RB investments & Others',
 'SRI Capital',
 ' Waterbridge Ventures and ThinKuvate',
 'BlueOrchard Finance Ltd',
 ' Hinduja Leyland Finance and IntelleGrow',
 'Lok Capital',
 'Mr. Manoj Prasad',
 'Rajan Anandan',
 ' Madhusudhan Kannan',
 ' Jayant Kadambi',
 ' Puneet Gupta and Pradeep K Jaisingh',
 'International Finance Corporation',
 ' Transamerica and others.',
 'TR Capital',
 'Shilpa Shetty Kundra',
 'Pravega Ventures and Beenext',
 'Line Ventures Corporation',
 ' Line Corp',
 ' Naver',
 ' Shinhan Bank and TS Investment',
 'Biz Stone',
 ' Kunal Bahl',
 ' Rohit Bansal',
 ' Alagu Periyannan and Karthee Madasamy',
 'Vidal Healthcare',
 'Sunil Munjal',
 ' Harsh Mariwala',
 ' Dalip Pathak and Others',
 'Amazon',
 'GEMS Advisory',
 ' Alok Mittal and Sachin Bhatia',
 'Neoplux',
 ' OPPO',
 ' IDG Ventures India',
 ' Kalaari Capital',
 ' GREE Ventures and Summit Media',
 'Omidyar Network',
 ' Nandan Nilekani',
 ' Blume Ventures',
 ' Helion Venture Partners',
 'Sequoia Capital',
 ' Maverick Capital Ltd and HBM Healthcare Investments Ltd',
 'Emery Capital',
 ' Blacksoil and Kalaari Capital',
 'Bay Capital Investments and Others',
 'SAR Group',
 'Bessemer Venture Partners and Orios Venture Partners',
 ' JM Financials and MEMG',
 'CBA Capital and others',
 'Sequoia Capital',
 ' SAIF Partners and Kalaari capital',
 'Baskar Subramanian',
 ' Saket Kumar',
 ' Gaurav Suri and Ankit Kesarwani',
 'InfoEdge',
 'Ranjan Pai',
 ' Apoorva Patni',
 ' Beenext Ventures',
 'GrowX Ventures',
 'HDFC Life',
 ' HDFC Asset Management',
 'Sequoia Capital',
 'Vertex Ventures',
 ' Accel Partners and Saama Capital',
 'Nexus Venture Partners',
 'Avendus Finance Pvt. Ltd',
 'Aegon NV',
 'State Street Global Advisors',
 'Trifecta Capital',
 'HR Fund',
 'Actis',
 ' Altimeter Capital',
 'Venkat Subramanian',
 ' Sudhakar Pennam',
 ' and other tech investors from Silicon Valley',
 'Matrix Partners',
 ' Bhavish Aggarwal',
 ' Ankit Bhati',
 ' Binny Bansal',
 ' Kunal Shah and Manish Patel.',
 'SoftBank',
 ' Tiger Global and Apoletto Managers.',
 'Alteria Capital',
 '1Crowd',
 ' Ankur Capital',
 'Amit Burman',
 ' SIDBI Venture Capital',
 'Pi Ventures',
 ' Axilor Ventures',
 'Micromax Informatics Ltd',
 'Jessica Wong',
 ' Hiro Mashita',
 ' Xue Manzi and Yiyun Zhang.',
 'Insight Venture Partners',
 ' Accel Partners and Tiger Global Management.',
 'SucSEED Venture Partners',
 'Endiya Partners',
 'Kumar Vembu',
 ' Axilor Ventures',
 'Initia Holdings',
 'Vipin Agarwal and others.',
 'Accion Venture Lab',
 ' Unicorn India Ventures and ISME ACE.',
 'Ratan Tata',
 'Amit Singhal and Unitus Seed Fund',
 'Google',
 ' Kae Capital',
 ' IIFL',
 ' Singularity Ventures',
 ' GrowX',
 ' Tracxn Labs',
 ' Venture Catalyst',
 ' Patni family office and Axis Capital.',
 'Alibaba',
 ' Helion Venture Partners',
 ' Bessemer Venture Partners',
 ' Ascent Capital',
 'Ant Financials',
 'Omidyar Network',
 'CDC Group Plc',
 'Man Capital LLP',
 ' Girnar Software',
 ' Others',
 'Bhavesh Manglani',
 ' Suraj Saharan',
 ' Darshan Upadhyay',
 ' Sanjay Notani & Others',
 'Montane Ventures',
 'Naspers',
 'Sandeep Mathur',
 'Meritech Capital Partners',
 'Sistema Asia Fund',
 'British and Indian Governments',
 'Accel Partners',
 ' Sequoia Capital',
 'Social Capital',
 'Fullerton Financial Holdings Pte Ltd & Others',
 'Bessemer Venture Partners',
 ' Stellaris Venture Partners',
 ' Axis Capital',
 ' Singapore',
 ' Jungle Venture Partners',
 'Trifecta Capital',
 'Ashok Kumar Gajera',
 'Tribe Impact Capital LLP',
 'Michael & Susan Dell Foundation',
 ' LGT Impact Ventures',
 'Kalpavriksh',
 'Axis Capital Partners',
 'Dewang Neralla',
 ' Mahesh Kothurkar',
 'Atul Agarwal',
 'S7 Group',
 'Michael Patrick Hickey',
 'Network 18',
 'Sequoia and Jerry Yang',
 'Mohammed Khan',
 ' Sameer Narayan & Others',
 'Hinduja Leyland Finance',
 ' IntelleGrow',
 'Ankur Capital',
 'Lightspeed & Yuri Milner',
 'Wargburg Pincus',
 ' Sequoia',
 'Blume Ventures',
 ' HealthQuad and Fireside Ventures',
 'PNC',
 ' Citi Ventures',
 'Auxano Deals',
 'Kris Gopalakrishnan',
 ' Pratithi Investment Trust',
 ' MEMG Family Office',
 ' S Gopal',
 'Dr Devi Shetty',
 'Startup Buddy',
 'Amit Manocha and others',
 'Tencent Holdings Ltd',
 ' Times Internet',
 'Y Combinator',
 ' Khosla Ventures',
 ' Vy Capital and others',
 'Unitus Seed Fund',
 'Recruit Holdings',
 ' Sequoia Capital India',
 ' Accel Partners',
 'Eight Roads Ventures India',
 'Claris Capital',
 ' Mumbai Angels Network',
 'Rohan Agila',
 'Nederlandse Financierings-Maatschappij voor Ontwikkelingslanden N.V.',
 'RuNet & Other',
 'Amazon-Patni JV',
 'responsAbility',
 ' Elevar Equity and Accel Partners',
 'Morgan Stanley Private Equity Asia',
 'Pankaj Chopra',
 ' Ankush Gupta',
 'Tiger Global',
 ' Y Combinator',
 'Indian fintech fund',
 ' Rainmatter',
 'Sunil Kant Munjal',
 ' Hero Electronix\\\\xe2\\\\x80\\\\x99s corporate financing arm',
 ' Electronic Development Fund',
 'Goldman Sachs',
 ' hedge fund & Others',
 'Polaris Fund',
 'Xiaomi Singapore',
 ' Shunwei Capital',
 'The Chennai Angels',
 'Lionrock Capital',
 'Incubate Fund India',
 ' Anuj Agrawal',
 'DMI Finance',
 'Dr. Ranjan Pai',
 'Unilever Ventures',
 'LeapFrog Investments',
 ' Aspada Investment',
 ' Quona Capital',
 'Avendus Finance',
 'IFMR Capital',
 'Chennai Angels',
 ' Lead Angels',
 ' LetsVenture',
 'Pravega Ventures',
 'RNT Capital',
 'Ventureast',
 ' Endiya Partners',
 ' Eight Roads Ventures',
 ' Touchstone Equities',
 ' BVR Mohan Reddy',
 'Blume Ventures',
 'Shivani Singh',
 ' Rahul Maroli',
 ' Mitesh Shah',
 ' Venture Catalysts',
 ' Alfa Capital',
 ' Green Shots Capital',
 ' Real Time Ventures.',
 'Accel Partners',
 'Axilor Ventures',
 ' Newfort Capital',
 'Undisclosed Investors',
 'HDFC Bank',
 ' Axis Bank',
 'Ventureast',
 'Scale Minds',
 'Google',
 'Hines',
 'NB Ventures',
 'Undisclosed Investors',
 'Apis Partner',
 ' Eight Roads Ventures',
 ' Bamboo Capital Partners',
 'Lightbox',
 'Eduardo Saverin',
 'Kalpvriksh',
 'Somerset Indus Capital Ventures',
 'IDG Ventures',
 'Tiger Global',
 'Singapore Angel Network',
 ' Mumbai Angel',
 'Village Capital',
 'Village Capital',
 'Aamir Khan',
 'HT Media',
 'Hyderabad Angels',
 'Accel Partners',
 'Munesh Khanna',
 'Canaan Partners',
 'Rakesh Jhunjhunwala',
 'Bessemer Venture Partners',
 'Mohan Tanksale',
 ' Kiran Shetty',
 ' Darshak Shah',
 ' Mandar Mhatre',
 'RB Investments',
 'Matrix Partners',
 'RoundGlass Partners LLC',
 'Accel Partners',
 ' Sequoia Capital',
 ' RB Investments',
 'Mumbai Angels Network',
 'Mountain Pain Capital',