In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load
 
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/startup_funding.csv

In [73]:
df = pd.read_csv('/kaggle/input/startup_funding.csv')
df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [60]:
df[df['Amount in USD'] == '2']

Empty DataFrame
Columns: [Sr No, Date dd/mm/yyyy, Startup Name, Industry Vertical, SubVertical, City  Location, Investors Name, InvestmentnType, Amount in USD, Remarks]
Index: []

In [3]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3020 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

In [4]:
df['Remarks'].unique()
#dropping remarks column as 90% of the data is missing
df.drop(columns=['Remarks'],inplace=True)

In [5]:
#making Sr No as the index.

df.set_index(['Sr No'],inplace=True)

In [64]:
# Renaming cols
df.rename(columns={
    'Date dd/mm/yyyy' : 'Date',
    'Startup Name' : 'Startup',
    'Industry Vertical' : 'Vertical',
    'City  Location' : 'City',
    'InvestmentnType' : 'Investment Type'
}, inplace=True)

In [7]:
# changing Date dd/mm/yyyy to datatime datatype. 

# step 1 : checking if all the values in Date col follow the format - dd/mm/yyyy
df[~df['Date'].str.contains('../../....', regex=True)]

,Date,Startup,Vertical,SubVertical,City,Investors Name,Investment Type,Amount in USD
Sr No,,,,,,,,
193,05/072018,Loan Tap,Consumer Internet,Online Lending Platform For Salaried Professio...,Mumbai,"Shunwei Capital, Tuscan Ventures, Ashish Goenk...",Private Equity,"62,50,000"
2572,01/07/015,HandyHome,Hyperlocal Electronics repair Service,NaN,Mumbai,"Bessemer Ventures, Kae Capital",Seed Funding,"6,30,000"
2607,\\xc2\\xa010/7/2015,\\xc2\\xa0Infinity Assurance,\\xc2\\xa0Warranty Programs Service Administra...,NaN,\\xc2\\xa0New Delhi,\\xc2\\xa0Indian Angel Network,Seed Funding,"\\xc2\\xa0600,000"
2776,12/05.2015,Mobiefit,Mobile Fitness App,NaN,Goa,Prototyze,Seed Funding,NaN
2777,12/05.2015,Plancess,Online Education Platform,NaN,Mumbai,"Rajendra Gogri,\\xc2\\xa0 Chandrakant Gogri",Seed Funding,"20,00,000"
2832,13/04.2015,The Porter,Logistics Tech,NaN,Mumbai,Kae Capital,Seed Funding,"5,00,000"
3012,15/01.2015,Wishberry,NaN,NaN,NaN,"Rajan Anandan, Shankar Mahadevan, Deep Kalra &...",Seed Funding,"6,50,000"

In [8]:
df[df['Date'].str.contains('../..//...')]

,Date,Startup,Vertical,SubVertical,City,Investors Name,Investment Type,Amount in USD
Sr No,,,,,,,,
3030,22/01//2015,Corporate360,NaN,NaN,NaN,Group of Angel Investors,Seed Funding,"2,00,000"

In [9]:
#step 2 : correcting the entries with wrong formats. Total there were 7 mismatch
df['Date'].replace({
    '05/072018' : '05/07/2018',
    '01/07/015' : '01/07/2015',
    '12/05.2015' : '12/05/2015',
    '13/04.2015' : '13/04/2015',
    '15/01.2015' : '15/01/2015',
    '\\\\xc2\\\\xa010/7/2015' : '10/07/2015',
    '22/01//2015' : '22/01/2015'
},inplace=True)

In [10]:
# step 3 : converting the date col to type datetime
df['Date'] = pd.to_datetime(df['Date'], format="%d/%m/%Y")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3044 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             3044 non-null   datetime64[ns]
 1   Startup          3044 non-null   object
 2   Vertical         2873 non-null   object
 3   SubVertical      2108 non-null   object
 4   City             2864 non-null   object
 5   Investors Name   3020 non-null   object
 6   Investment Type  3040 non-null   object
 7   Amount in USD    2084 non-null   object
dtypes: datetime64[ns](1), object(7)
memory usage: 214.0+ KB

In [12]:
print('\\\\xc2\\\\xa0')
# \xc2\xa0 means 0xC2 0xA0 is so-called. Non-breaking space. It is a kind of invisible control character in UTF-8 encodings.

\\xc2\\xa0

In [65]:
df[df['Startup'].str.contains('\\\\xc2', na=False)]

,Sr No,Date,Startup,Vertical,SubVertical,City,Investors Name,Investment Type,Amount in USD,Remarks
1394,1395,23/09/2016,\\xc2\\xa0CloudCherry,Technology,CRM SAAS Platform,Chennai,"Vertex Ventures, Cisco Ventures, IDG Ventures",Private Equity,"60,00,000",NaN
2504,2505,10/08/2015,NearBuy (previously\\xc2\\xa0 groupon India),Hyper-Local Ecommerce,NaN,New Delhi,Sequoia Capital,Private Equity,"1,60,00,000",Series A
2602,2603,09/07/2015,\\xc2\\xa0News in shorts,\\xc2\\xa0News Aggregator mobile app,NaN,\\xc2\\xa0Noida,\\xc2\\xa0Tiger Global,Private Equity,"\\xc2\\xa020,000,000",\\xc2\\xa0Series B
2603,2604,09/07/2015,\\xc2\\xa0Bluestone,\\xc2\\xa0Online Jewellery Store,NaN,\\xc2\\xa0Bangalore,"\\xc2\\xa0IvyCap Ventures, Accel Partners, Dra...",Private Equity,"\\xc2\\xa016,200,000",NaN
2604,2605,09/07/2015,\\xc2\\xa0Shopsity,\\xc2\\xa0Fashion Info Aggregator App,NaN,\\xc2\\xa0Gurgaon,"\\xc2\\xa0 Sandeep Aggarwal, Teruhide Sato",Seed Funding,\\xc2\\xa0N/A,NaN
2605,2606,09/07/2015,\\xc2\\xa0Notesgen,\\xc2\\xa0Online Study Notes Marketplace,NaN,\\xc2\\xa0New Delhi,"\\xc2\\xa0Rajeev Saraf, Arvind Jha, R. Satya N...",Seed Funding,\\xc2\\xa0N/A,NaN
2606,2607,\\xc2\\xa010/7/2015,\\xc2\\xa0Infinity Assurance,\\xc2\\xa0Warranty Programs Service Administra...,NaN,\\xc2\\xa0New Delhi,\\xc2\\xa0Indian Angel Network,Seed Funding,"\\xc2\\xa0600,000",NaN
2607,2608,10/07/2015,\\xc2\\xa0Footprints Education,\\xc2\\xa0Pre-School Chain,NaN,\\xc2\\xa0Gurgaon,"\\xc2\\xa0LetsVenture, Kumar Bansal, Kshitij Jain",Seed Funding,"\\xc2\\xa0685,000",NaN
2608,2609,10/07/2015,\\xc2\\xa0Loylty Rewards,\\xc2\\xa0Premium Loyalty Rewards Point Manage...,NaN,\\xc2\\xa0Mumbai,\\xc2\\xa0IndianIdeas.com,Private Equity,"\\xc2\\xa019,350,000",\\xc2\\xa0Late Stage
2609,2610,13/07/2015,\\xc2\\xa0Ameyo,\\xc2\\xa0Contact Center Software Platform,NaN,\\xc2\\xa0Gurgaon,\\xc2\\xa0Forum Synergies PE Fund,Private Equity,"\\xc2\\xa05,000,000",\\xc2\\xa0Series A
2610,2611,13/07/2015,\\xc2\\xa0Mamagoto,\\xc2\\xa0Casual Dining restaurant Chain,NaN,\\xc2\\xa0New Delhi,\\xc2\\xa0Goldman Sachs,Private Equity,"\\xc2\\xa010,000,000",\\xc2\\xa0Series A
2611,2612,13/07/2015,\\xc2\\xa0Satvacart,\\xc2\\xa0Online Grocery Delivery,NaN,\\xc2\\xa0Gurgaon,\\xc2\\xa0Palaash Ventures,Seed Funding,\\xc2\\xa0N/A,NaN
2794,2795,22/05/2015,\\xc2\\xa0Nudgespot,Customer Engagement Platform,NaN,Bangalore,"Kae Capital, Anoop Goyal, Mike Shah, VA Sastry",Seed Funding,"6,25,000",NaN

In [14]:
df['Startup'] = df['Startup'].str.replace(u'\\\\xc2\\\\xa0','')

In [15]:
df[df['Startup'].str.contains('\\\\xc2', na=False)]

Empty DataFrame
Columns: [Date, Startup, Vertical, SubVertical, City, Investors Name, Investment Type, Amount in USD]
Index: []

In [ ]:
# replacing control characters in Startup col
#df['Startup'].replace({
        '\\\\xc2\\\\xa0Infinity Assurance': 'Infinity Assurance',
        '\\\\xc2\\\\xa0CloudCherry' : 'CloudCherry',
        'NearBuy (previously\\\\xc2\\\\xa0 groupon India)' : 'NearBuy (previously groupon India)',
        '\\\\xc2\\\\xa0News in shorts' : 'News in shorts',
        '\\\\xc2\\\\xa0Bluestone' : 'Bluestone',
        '\\\\xc2\\\\xa0Shopsity' : 'Shopsity',
        '\\\\xc2\\\\xa0Notesgen' : 'Notesgen',
        '\\\\xc2\\\\xa0Infinity Assurance' : 'Infinity Assurance',
        '\\\\xc2\\\\xa0Footprints Education' : 'Footprints Education',
        '\\\\xc2\\\\xa0Loylty Rewards' : 'Loylty Rewards',
        '\\\\xc2\\\\xa0Ameyo' : 'Ameyo',
        '\\\\xc2\\\\xa0Mamagoto' : 'Mamagoto',
        '\\\\xc2\\\\xa0Satvacart' : 'Satvacart',
        '\\\\xc2\\\\xa0Nudgespot' : 'Nudgespot',
    },inplace=True)

In [26]:
#df[df['Startup'].str.contains('\\\\xc2')]

Empty DataFrame
Columns: [Date, Startup, Vertical, SubVertical, City, Investors Name, Investment Type, Amount in USD]
Index: []

In [17]:
df[df['Vertical'].str.contains('\\\\xc2', na=False)]

,Date,Startup,Vertical,SubVertical,City,Investors Name,Investment Type,Amount in USD
Sr No,,,,,,,,
2176,2015-12-21,Peppertap,Hyperlocal\\xc2\\xa0 Grocery Delivery Service,NaN,Gurgaon,Innoven Capital,Private Equity,"40,00,000"
2239,2015-11-17,CraftsVilla,Women Ethnic Wear\\xc2\\xa0 Online Marketplace,NaN,Mumbai,"Sequoia India, Lightspeed Venture Partners, Ne...",Private Equity,"3,40,00,000"
2365,2015-10-27,Happitoo,Location based Nightlife recommendation\\xc2\\...,NaN,Mumbai,Unnamed investor,Seed Funding,"77,000"
2386,2015-09-01,Luxuryhues,Luxury goods\\xc2\\xa0 Shopping Platform,NaN,Gurgaon,Reliance Capital,Private Equity,"9,00,000"
2489,2015-08-06,Appvigil,App security\\xc2\\xa0 testing platform,NaN,Mumbai,"Ravi Gururaj, Gaurav Sharma, Viswanath Ramacha...",Seed Funding,"5,00,000"
2603,2015-07-09,News in shorts,\\xc2\\xa0News Aggregator mobile app,NaN,\\xc2\\xa0Noida,\\xc2\\xa0Tiger Global,Private Equity,"\\xc2\\xa020,000,000"
2604,2015-07-09,Bluestone,\\xc2\\xa0Online Jewellery Store,NaN,\\xc2\\xa0Bangalore,"\\xc2\\xa0IvyCap Ventures, Accel Partners, Dra...",Private Equity,"\\xc2\\xa016,200,000"
2605,2015-07-09,Shopsity,\\xc2\\xa0Fashion Info Aggregator App,NaN,\\xc2\\xa0Gurgaon,"\\xc2\\xa0 Sandeep Aggarwal, Teruhide Sato",Seed Funding,\\xc2\\xa0N/A
2606,2015-07-09,Notesgen,\\xc2\\xa0Online Study Notes Marketplace,NaN,\\xc2\\xa0New Delhi,"\\xc2\\xa0Rajeev Saraf, Arvind Jha, R. Satya N...",Seed Funding,\\xc2\\xa0N/A
2607,2015-07-10,Infinity Assurance,\\xc2\\xa0Warranty Programs Service Administra...,NaN,\\xc2\\xa0New Delhi,\\xc2\\xa0Indian Angel Network,Seed Funding,"\\xc2\\xa0600,000"
2608,2015-07-10,Footprints Education,\\xc2\\xa0Pre-School Chain,NaN,\\xc2\\xa0Gurgaon,"\\xc2\\xa0LetsVenture, Kumar Bansal, Kshitij Jain",Seed Funding,"\\xc2\\xa0685,000"
2609,2015-07-10,Loylty Rewards,\\xc2\\xa0Premium Loyalty Rewards Point Manage...,NaN,\\xc2\\xa0Mumbai,\\xc2\\xa0IndianIdeas.com,Private Equity,"\\xc2\\xa019,350,000"
2610,2015-07-13,Ameyo,\\xc2\\xa0Contact Center Software Platform,NaN,\\xc2\\xa0Gurgaon,\\xc2\\xa0Forum Synergies PE Fund,Private Equity,"\\xc2\\xa05,000,000"
2611,2015-07-13,Mamagoto,\\xc2\\xa0Casual Dining restaurant Chain,NaN,\\xc2\\xa0New Delhi,\\xc2\\xa0Goldman Sachs,Private Equity,"\\xc2\\xa010,000,000"
2612,2015-07-13,Satvacart,\\xc2\\xa0Online Grocery Delivery,NaN,\\xc2\\xa0Gurgaon,\\xc2\\xa0Palaash Ventures,Seed Funding,\\xc2\\xa0N/A
2827,2015-04-10,Whatfix,Interactive\\xc2\\xa0 How-To Guides,NaN,Bangalore,"Helion Venture Partner, Powerhouse Ventures, G...",Seed Funding,"9,00,000"

In [16]:
df['Vertical'] = df['Vertical'].str.replace(u'\\\\xc2\\\\xa0','')

In [17]:
df.loc[df['Vertical'].str.contains('\\\\xc2', na=False)]

Empty DataFrame
Columns: [Date, Startup, Vertical, SubVertical, City, Investors Name, Investment Type, Amount in USD]
Index: []

In [ ]:
#df['Vertical'].replace(
        {
            'Hyperlocal\\\\xc2\\\\xa0 Grocery Delivery Service' : 'Hyperlocal Grocery Delivery Service',
            'Women Ethnic Wear\\\\xc2\\\\xa0 Online Marketplace' : 'Women Ethnic Wear Online Marketplace',
            'Location based Nightlife recommendation\\\\xc2\\\\xa0 Platform' : 'Location based Nightlife recommendation Platform',
            'Luxury goods\\\\xc2\\\\xa0 Shopping Platform' : 'Luxury goods Shopping Platform',
            'App security\\\\xc2\\\\xa0 testing platform' : 'App security testing platform',
            '\\\\xc2\\\\xa0News Aggregator mobile app' : 'News Aggregator mobile app',
            '\\\\xc2\\\\xa0Online Jewellery Store' : 'Online Jewellery Store',
            '\\\\xc2\\\\xa0Fashion Info Aggregator App' : 'Fashion Info Aggregator App',
            '\\\\xc2\\\\xa0Online Study Notes Marketplace' : 'Online Study Notes Marketplace',
            '\\\\xc2\\\\xa0Warranty Programs Service Administration' : 'Warranty Programs Service Administration',
            '\\\\xc2\\\\xa0Pre-School Chain' : 'Pre-School Chain',
            '\\\\xc2\\\\xa0Premium Loyalty Rewards Point Management' : 'Premium Loyalty Rewards Point Management',
            '\\\\xc2\\\\xa0Contact Center Software Platform' : 'Contact Center Software Platform',
            '\\\\xc2\\\\xa0Casual Dining restaurant Chain' : 'Casual Dining restaurant Chain',
            '\\\\xc2\\\\xa0Online Grocery Delivery' : 'Online Grocery Delivery',
            'Interactive\\\\xc2\\\\xa0 How-To Guides' : 'Interactive How-To Guides',
        }, inplace=True
)

In [ ]:
#df[df['Vertical'].str.contains('\\\\xc2', na=False)]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3044 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             3044 non-null   datetime64[ns]
 1   Startup          3044 non-null   object
 2   Vertical         2873 non-null   object
 3   SubVertical      2108 non-null   object
 4   City             2864 non-null   object
 5   Investors Name   3020 non-null   object
 6   Investment Type  3040 non-null   object
 7   Amount in USD    2084 non-null   object
dtypes: datetime64[ns](1), object(7)
memory usage: 214.0+ KB

In [21]:
df[df['Amount in USD'].str.contains('N/A', na=False)]

,Date,Startup,Vertical,SubVertical,City,Investors Name,Investment Type,Amount in USD
Sr No,,,,,,,,
2605,2015-07-09,Shopsity,Fashion Info Aggregator App,NaN,\\xc2\\xa0Gurgaon,"\\xc2\\xa0 Sandeep Aggarwal, Teruhide Sato",Seed Funding,\\xc2\\xa0N/A
2606,2015-07-09,Notesgen,Online Study Notes Marketplace,NaN,\\xc2\\xa0New Delhi,"\\xc2\\xa0Rajeev Saraf, Arvind Jha, R. Satya N...",Seed Funding,\\xc2\\xa0N/A
2612,2015-07-13,Satvacart,Online Grocery Delivery,NaN,\\xc2\\xa0Gurgaon,\\xc2\\xa0Palaash Ventures,Seed Funding,\\xc2\\xa0N/A
2614,2015-07-14,Zenify,Residential Rental management platform,NaN,Bangalore,Atul Jalan,Seed Funding,\\xc2\\xa0N/A

In [27]:
df['Amount in USD'] = df['Amount in USD'].str.replace(u'\\\\xa0\\\\xc2', '')

In [23]:
# Amount col we remove the comma so as to convert the amount to float datatype
df['Amount in USD'] = df['Amount in USD'].str.replace(',','') ####### do it without  str. i.e apply replace on df directly, then you can use inplace parameter

In [34]:
df.tail()

,Date,Startup,Vertical,SubVertical,City,Investors Name,Investment Type,Amount in USD
Sr No,,,,,,,,
3040,2015-01-29,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,4500000
3041,2015-01-29,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,825000
3042,2015-01-30,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,1500000
3043,2015-01-30,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN
3044,2015-01-31,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,140000

In [24]:
df.loc[df['Amount in USD'].isna()]

,Date,Startup,Vertical,SubVertical,City,Investors Name,Investment Type,Amount in USD
Sr No,,,,,,,,
145,2018-10-01,Northmist,Fashion,Mens Wear,Delhi,Prashant Jaiswal,Seed/ Angel Funding,NaN
156,2018-09-04,HappyGoEasy,Consumer Internet,Online Travel Agecy,Gurugram,"Korea Investment Partners (KIP), Samsung and C...",Private Equity,NaN
158,2018-09-05,Mad Street Den,Technology,Computer Vision And Artificial Intelligence (A...,Chennai,KDDI\\xc2\\xa0,Private Equity,NaN
166,2018-08-01,HealthFin,Finance,Patient Financing Platform,Pune,"Axilor, Sprout Venture Partners and others",Seed/ Angel Funding,NaN
190,2018-07-01,Leena AI,Technology,HR Virtual Agent For Employees,Gurugram,Y Combinator,Seed/ Angel Funding,NaN
...,...,...,...,...,...,...,...,...
3028,2015-05-21,Knit,NaN,NaN,NaN,"Rohit Jain, Amit Rambhia & Others",Seed Funding,NaN
3031,2015-01-22,Freshmonk,NaN,NaN,NaN,"August Capital Partners, Michael Blakey",Seed Funding,NaN
3032,2015-01-22,Englishleap.com,NaN,NaN,NaN,ANALEC,Private Equity,NaN
3036,2015-01-24,Impartus,NaN,NaN,NaN,Kaizen Private Equity,Private Equity,NaN
3043,2015-01-30,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN

In [31]:
# On randomly googling - 'did investor_name invest in startup_name' we found that the investors have invested an undisclosed amount in the said startup
# Hence, we will be replacing all the null values with 0 
# And we will be considering 0 means Undisclosed amount
df['Amount in USD'].replace(np.NaN,'0',inplace=True)
df['Amount in USD'].replace('N/A','0', inplace=True)

In [32]:
#these N/A dint get replaced, so make it 0
df[df['Amount in USD'].str.contains('N/A', na=False)]

Empty DataFrame
Columns: [Date, Startup, Vertical, SubVertical, City, Investors Name, Investment Type, Amount in USD]
Index: []

In [33]:
df['Amount in USD'].loc[df['Amount in USD'].str.isalpha()]

Sr No
21     undisclosed
35         unknown
59     Undisclosed
90     undisclosed
92     undisclosed
113    Undisclosed
140    Undisclosed
Name: Amount in USD, dtype: object

In [34]:
df['Amount in USD'].replace('undisclosed','0',inplace=True)
df['Amount in USD'].replace('Undisclosed','0',inplace=True)
df['Amount in USD'].replace('unknown','0',inplace=True)

In [35]:
#df['Amount in USD'].str.contains('[0-9]*\+*', regex=True)

import string

unwanted = string.ascii_letters + string.punctuation + string.whitespace
print(unwanted)

# This helped me extract '10' from '10+ years', also strip any blank spaces
df['Amount in USD'] = df['Amount in USD'].str.strip(unwanted)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [14]:
# Reference : https://stackoverflow.com/questions/26068832/how-to-remove-this-xa0-from-a-string-in-python

ser = pd.Series(['2\\\\xa020000000'])
ser.str.replace(u'\\\\xa0','')

0    220000000
dtype: object

In [41]:
df['Amount in USD'] = df['Amount in USD'].astype('float')

#check how to convert the amount into 10K, 100M, etc

In [46]:
amt = df['Amount in USD']
sorted(set(amt))[5:10]

[22500.0, 25000.0, 27000.0, 30000.0, 30768.0]

In [47]:
df[df['Amount in USD'] == 22500.0]

,Date,Startup,Vertical,SubVertical,City,Investors Name,Investment Type,Amount in USD
Sr No,,,,,,,,
1110,2017-01-30,Cloudrino,Technology,Cloud based Virtual Servers,New Delhi,The Ten Minute Million,Seed Funding,22500.0
1908,2016-02-02,Strike,Consumer Internet,Mobile Email productivity tool,Bangalore,Multiple investors through Ten Minute Million ...,Seed Funding,22500.0
1909,2016-02-02,MaaxMarket,Consumer Internet,Marketing Automation platform,NaN,Multiple investors through Ten Minute Million ...,Seed Funding,22500.0
1910,2016-02-02,Gamooz,Technology,Augmented Reality Solutions,Gurgaon,Multiple investors through Ten Minute Million ...,Seed Funding,22500.0
1911,2016-02-02,SoundSurround,Technology,Audio Technology Solutions,Mumbai,Multiple investors through Ten Minute Million ...,Seed Funding,22500.0

In [65]:
df[df['Startup Name'].str.contains('Zenify')]

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
1693,1694,11/05/2016,Zenify,Consumer Internet,Home rental Discovery & Booking Portal,Bangalore,Undisclosed Investors,Private Equity,"9,00,000",NaN
2352,2353,21/10/2015,Zenify.in,residential rental management platform,NaN,Bangalore,"Atul Jalan, Shrikanth & Bharath",Seed Funding,"6,40,000",NaN
2613,2614,14/07/2015,Zenify,Residential Rental management platform,NaN,Bangalore,Atul Jalan,Seed Funding,\\xc2\\xa0N/A,NaN

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3020 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

In [52]:
# https://saturncloud.io/blog/how-to-suppress-scientific-notation-in-pandas/#:~:text=To%20suppress%20scientific%20notation%20in%20Pandas%2C%20you%20can%20use%20the,point%20numbers%20in%20your%20dataframe.
pd.options.display.float_format = '{:.2f}'.format

In [53]:
#Analysing investors

investor = 'Softbank'
df[df['Investors Name'].str.contains(investor, na=False)]

,Date,Startup,Vertical,SubVertical,City,Investors Name,Investment Type,Amount in USD
Sr No,,,,,,,,
60,2019-08-19,Grofers,E-Commerce,Grocery Delivery,Gurgaon,Softbank Vision Fund,Series F,70000000.00
142,2018-11-24,Engineer.ai,Software,AI Platform,India/US,"Lakestar and Jungle Ventures, Softbank\\xe2\\x...",Series A,29500000.00
524,2017-10-03,Ola Cabs,Consumer Internet,App based cab hailing services,Bangalore,"Tencent, Softbank Group",Private Equity,110000000.00
652,2017-08-11,Flipkart,eCommerce,Online Marketplace,Bangalore,Softbank,Private Equity,2500000000.00
1034,2017-02-21,True Balance,Consumer Internet,Mobile balance Checking App,Gurgaon,"Softbank Ventures Korea, IMM Investment",Private Equity,15000000.00
1227,2016-11-22,Housing.com,Consumer Internet,Real Estate Portal,Mumbai,Softbank Group,Private Equity,5000000.00
1761,2016-04-11,Oyo,Consumer Internet,Online Branded Budget Room Booking Service,New Delhi,"Softbank, Sequoia Capital, Lightspeed Venture ...",Private Equity,100000000.00
2275,2015-11-26,Grofers,Hyper-local Grocery Delivery platform,NaN,Gurgaon,"Softbank, Tiger Global, Sequoia Capital, Apole...",Private Equity,120000000.00
2416,2015-09-14,Ola Cabs,Cab rental Mobile app,NaN,Bangalore,"Falcon Edge Capital, NY based Hedge Fund, Tige...",Private Equity,225000000.00
2471,2015-08-01,Snapdeal,Ecommerce Marketplace,NaN,New Delhi,"Alibaba, Foxconn, Softbank",Private Equity,500000000.00
2619,2015-07-15,Oyo Rooms,Budget Hotel Accommodation,NaN,Gurgaon,"Softbank, Sequoia Capital",Private Equity,100000000.00

In [54]:
# checking for na values
df_new = df.dropna(subset=['Date','Startup','Vertical','City','Investors Name','Investment Type','Amount in USD'])

In [57]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2836 entries, 1 to 2873
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             2836 non-null   datetime64[ns]
 1   Startup          2836 non-null   object
 2   Vertical         2836 non-null   object
 3   SubVertical      2080 non-null   object
 4   City             2836 non-null   object
 5   Investors Name   2836 non-null   object
 6   Investment Type  2836 non-null   object
 7   Amount in USD    2836 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 199.4+ KB

In [97]:
df[df['Investors Name'].str.contains('\\\\\\\\xe', na=False)]

Empty DataFrame
Columns: [Sr No, Date dd/mm/yyyy, Startup Name, Industry Vertical, SubVertical, City  Location, Investors Name, InvestmentnType, Amount in USD, Remarks]
Index: []

In [96]:
df['Investors Name'] = df['Investors Name'].str.replace('\\\\xe2\\\\x80\\\\x99', "'")

In [90]:
# dont use dataframe, its better to use str.replace
# because df.replace dint replace \\xe2\\x80\\x90 for some reason
df['Investors Name'].replace([u'\\\\\\\\xe2\\\\\\\\x80\\\\\\\\x99',
                              r'\\\\\\\\xe2\\\\\\\\x80\\\\\\\\x99',
                              r'\\\\xe2\\\\x80\\\\x99',
                              u'\\\\xe2\\\\x80\\\\x99',
                             u'\\\\xc0\\\\xc2'],'',inplace=True)

In [121]:
pd.options.display.max_colwidth = 300

In [122]:
# finding rows with more than just the investor name
df['Investors Name'][df['Investors Name'].str.contains('Raveen Sastry',na=False)]

53    Rashmi Daga (founder, FreshMenu), Raveen Sastry (co-founder, Myntra) and Mitesh Shah (finance chief, BookMyShow)
Name: Investors Name, dtype: object

In [115]:
# Investor col : we will split it based on comma so that we can analyze each investors separetely
# we will simply split and get the list of investors
# we will convert it to set, so as to not have any duplicates in the list of investors

l = list(set(df['Investors Name'].dropna().str.split(',').sum())) # also strip the extract spaces or split using [',' , ', ']
[i for i in l if ')' in i]
#sorted(df['Investors Name'].str.split(','))

[' Amit Khanna (LetsVenture)',
 'Paytm (One97 communications)',
 'People Group (Shaadi.com)',
 'Lindwall Family Investments LLC (LFI)',
 'SoftBank Vision Fund & Info Edge (India) Ltd',
 ' Coleman and Company Ltd (BCCL)',
 'Gujarat Venture Finance Limited (GVFL)',
 'Private Sector Banks (Debt Funding)',
 'Indian Angel Network (IAN)',
 'mall Industries Development Bank of India (SIDBI)',
 ' Chiratae Ventures (formerly IDG Ventures)',
 ' FreshMenu)',
 ' Indian Angel Network (IAN)',
 'Korea Investment Partners (KIP)',
 'New Enterprise Associates (NEA)',
 'Vertex Ventures Southeast Asia (SEA) and India and Sistema Asia Fund',
 '1Crowd (through crowd funding)',
 ' Deutsche Telekom Strategic Investments (DTSI)',
 'Base of Pyramid Asia (BOPA) Pte Ltd',
 'High Networth Individuals (undisclosed)',
 'Ant Financial Services (Alipay)',
 ' EDFIMC (ElectriFI)',
 'Constellation Technology Ventures (Exelon Corporation)',
 'Hyderabad Angels (at Startup Heroes event)',
 'Marico Innovation Foundation (MIF)',
 'CIO Angel Network (CAN)',
 'ABI-Showatech (India) Ltd',
 'Info Edge (India)',
 'Calcutta Angels Network (CAN)',
 'Small Industries Development Bank of India (SIDBI)',
 'Chandigarh Angel Network (CAN)',
 ' New Enterprise Associates (NEA)',
 ' Coleman and Co. Ltd (BCCL)',
 'Qualcomm (Through QPrize Contest)',
 'Teachers Insurance and Annuity Association (TIAA)',
 ' Incubation Foundation (SIIF)',
 'Bennett Coleman and Company Ltd (BCCL)',
 'Sanjay Mehta & Others ( The Ten Minute Million)',
 ' Myntra) and Mitesh Shah (finance chief',
 'Chandigarh Angels Network (CAN)',
 'Green House Ventures (GHV)',
 'SBI (Stand Up India Scheme)',
 'Asset Management (Asia) Ltd',
 'Manipal Education and Medical Group (MEMG)',
 '1Crowd (through crowdfunding)',
 'Info Edge (India) Ltd and Temasek',
 'Info Edge (India) Ltd',
 'Blume Ventures. Lenovo Capital and Incubator Group (LCIG)',
 ' BookMyShow)',
 ' International Finance Corporation (IFC)',
 'Centre For Incubation & Business Acceleration (CIBA)',
 'Centre for Innovation Incubation and Entrepreneurship (CIIE)',
 ' Japan & Teruhide Sato (in Addition to MKS Switzerland & Kris GopalKrishnan)',
 'Accel (formerly known as Accel Partners)',
 ' Powerhouse Ventures (USA).',
 'AJ Ventures and Jain International Trade Organisation (JITO)',
 'International Finance Corporation (IFC)',
 'Ashok Goel (promoter)',
 'Oman India Joint Investment Fund (OIJIF)',
 'High Networth Individuals (No details)']